/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Icons */
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");

/* Tailwindcss */
@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@theme {
  --font-*: initial;
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;

  --color-background: hsl(0 0 100%);
  --color-foreground: hsl(0 0 0%);
  --color-surface: hsl(0 0 100%);
  --color-border: hsl(0 0 95%);
  --color-input: hsl(0 0 97%);
  --color-primary: hsl(0 0 0%);
  --color-primary-foreground: hsl(0 0 98%);
  --color-secondary: hsl(0 0 96%);
  --color-secondary-foreground: hsl(0 0 10%);
  --color-link: hsl(221 83 50%);
  --color-accent: hsl(0 0 40%);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-base font-normal leading-normal! text-foreground bg-background font-sans antialiased selection:bg-blue-100/90 selection:text-blue-950;
    font-style: normal;
  }

  .fi {
    @apply flex justify-center items-center text-sm;
  }
}

@utility prose {
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-body: var(--color-foreground);
  --tw-prose-links: var(--color-link);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-foreground);
  --tw-prose-hr: var(--color-border);
  --tw-prose-quotes: var(--color-secondary);
  --tw-prose-quote-borders: var(--color-foreground);
  --tw-prose-captions: var(--color-secondary);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-surface);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);

  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);

  a {
    text-decoration: "none";
    font-weight: 400 !important;

    &:hover {
      text-decoration: "underline";
    }
  }

  em {
    font-style: "italic";
    color: var(--color-accent);
  }

  strong {
    font-weight: var(--font-weight-normal);
  }

  h1 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
  }

  h2 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
  }

  h3 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
  }
}
